##### Imports and Settings

In [3]:
import pandas as pd
import numpy as np
import requests
from functools import reduce
import matplotlib.pyplot as plt
import pickle
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
import sys
sys.path.append("../../../Functions and Dictionaries") # Adds higher directory to python modules path
import sqlite3 as sq
#functions
def percent(x, y):
        try:
            return ((x/y)*100)
        except ZeroDivisionError:
            return 0
def percentchange(x, y):
    try:
        return ((x - y)*100/y)
    except ZeroDivisionError:
        return 0
def realchange(x, y):
    return x-y
#calculate real and percent change between all columns for all possible time frames
def calculate_changes(df, columns, time_frames, years):
    for column in columns:
        for time_frame in time_frames:
            start_year, end_year = time_frame.split('-')
            df[f'{column} % Change', 'None', f'{time_frame}'] = percentchange(df[(column, int(end_year), 'None')], df[(column, int(start_year), 'None')])
            df[f'{column} Change', 'None', f'{time_frame}'] = (df[(column, int(end_year), 'None')] - df[(column, int(start_year), 'None')])

    return df
#generate all possible time frames from a list of years
def generate_time_frames(years):
    time_frames = []
    for i in range(len(years)-1):
        for j in range(i+1, len(years)):
            time_frames.append(f"{years[i]}-{years[j]}")
    return time_frames

https://tnsdc.utk.edu/estimates-and-projections/boyd-center-population-projections/

In [5]:
data = pd.read_csv('../Data/TN_CoPopProj_2022_alldata.csv', dtype = str)
data.head()

   GEOID   CTYNAME RACE SEX AGEGRP  YEAR POPULATION
0  47001  Anderson    1   1      1  2022       1723
1  47001  Anderson    1   1      2  2022       1911
2  47001  Anderson    1   1      3  2022       1978
3  47001  Anderson    1   1      4  2022       2079
4  47001  Anderson    1   1      5  2022       2011